services:
    scenario_factory:
        autowired: App\Application\Scenario\ScenarioFactoryInterface
        type: App\Application\Scenario\ScenarioFactoryInterface
        factory: @scenario_factory.default

    scenario_factory.default:
        autowired: no
        factory: App\Application\Scenario\ScenarioFactory
        setup:
            - registerScenario(
                cmp-front
                http://167.71.46.104:8888/sign-in
                [
                    viewport: App\Application\Scenario\Viewport(1920, 1080)
                    maxDepth: 0
                ]
                [
                    App\Application\Scenario\Action\ClickAction('#c-p-bn')
                ]
            )
            - registerScenario(
                cmp-login
                http://167.71.46.104:8888/sign-in
                [
                    viewport: App\Application\Scenario\Viewport(1920, 1080)
                    maxDepth: 0
                ]
                [
                    App\Application\Scenario\Action\ClickAction('#c-p-bn')
                    App\Application\Scenario\Action\DelayAction(1000)
                    App\Application\Scenario\Action\TypeAction('#frm-signIn-form-username', 'admin@68publishers.io')
                    App\Application\Scenario\Action\TypeAction('#frm-signIn-form-password', 'admin')
                    App\Application\Scenario\Action\ClickWithRedirect('#frm-signIn-form button[type="submit"]')
                    App\Application\Scenario\Action\ScreenshotAction(logged-in)
                ]
            )
            - registerScenario(
                datart-homepage
                https://www.datart.cz
                [
                    viewport: App\Application\Scenario\Viewport(1920, 1080)
                    crawlProfile: Spatie\Crawler\CrawlProfiles\CrawlSubdomains(https://www.datart.cz)
                    maxDepth: 1
                    totalCrawlLimit: 15
                ]
                [
                    App\Application\Scenario\Action\ClickAction(
                        selector: '#c-p-bn'
                        delay: 200
                    )
                    App\Application\Scenario\Action\DelayAction(3000)
                    App\Application\Scenario\Action\ScreenshotAction(%%url%%)
                ]
            )
            - registerScenario(
                datart-google
                'https://www.google.com/search?q=datart.cz'
                [
                    viewport: App\Application\Scenario\Viewport(1920, 1080)
                    totalCrawlLimit: 1
                ]
                [
                    App\Application\Scenario\Action\ScreenshotAction(google-consent)
                    App\Application\Scenario\Action\ClickAction(
                        selector: '//div[@role="dialog"]//button/div[contains(., "Přijmout vše")]'
                        delay: 300
                        xpath: yes
                    )
                    App\Application\Scenario\Action\DelayAction(1000)
                    App\Application\Scenario\Action\ScreenshotAction(google-search)
                    App\Application\Scenario\Action\ClickWithRedirect('#tads [role="heading"]', 300)
                    App\Application\Scenario\Action\DelayAction(1000)
                    App\Application\Scenario\Action\ClickAction(
                        selector: '#c-p-bn'
                        delay: 200
                    )
                    App\Application\Scenario\Action\DelayAction(3000)
                    App\Application\Scenario\Action\ScreenshotAction(homepage)
                ]
            )
            - registerScenario(
                datart-login
                https://www.datart.cz
                [
                    viewport: App\Application\Scenario\Viewport(1920, 1080)
                    crawlProfile: Spatie\Crawler\CrawlProfiles\CrawlSubdomains(https://www.datart.cz)
                    maxDepth: 0
                ]
                [
                    App\Application\Scenario\Action\ClickAction('#c-p-bn')
                    App\Application\Scenario\Action\DelayAction(1000)
                    App\Application\Scenario\Action\HoverAction('.login-menu-title')
                    App\Application\Scenario\Action\TypeAction('#frm-login', 'tomasglawaty@icloud.com', 100)
                    App\Application\Scenario\Action\TypeAction('#frm-password', 'JpemXZ7zT43KBYU', 100)
                    App\Application\Scenario\Action\FocusAction('.login-form .btn-login')
                    App\Application\Scenario\Action\KeyboardPressAction('Enter')
                    App\Application\Scenario\Action\WaitForSelectorAction('.login-menu-title .login-user-name')
                    App\Application\Scenario\Action\DelayAction(2000)
                    App\Application\Scenario\Action\ScreenshotAction(logged-in)
                    App\Application\Scenario\Action\HoverAction('.login-menu-title')
                    App\Application\Scenario\Action\ClickWithRedirect('.login-menu-content > ul > li:nth-child(2) > a')
                    App\Application\Scenario\Action\DelayAction(2000)
                    App\Application\Scenario\Action\ScreenshotAction(user-profile)
                ]
            )
